@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    --White: hsl(0, 0%, 100%);
    --White-text: hsl(0, 0%, 80%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.ff--open{
    font-family: 'Open Sans', sans-serif;
}

.ff--poppins{
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    display: block;
}

li{
    list-style: none;

}

a{
    color: inherit;
    text-decoration: none;
}

body{
    background-color: var(--Violet) ;
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.container{

    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 150px;
    display: inline-block;
}


.main{
    display: grid;
    gap: 3rem;
}

.main__text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.main__text h2{
    color: var(--White);
    font-family: 'Poppins', sans-serif;
}
.main__text p{
    color: var(--White-text);
    font-family: 'Open Sans', sans-serif;
}

.main__btn{
    font-family: 'Poppins', sans-serif;
    color: var(--Violet);
    padding: 0.7rem;
    width: 50%;
    border-radius: 2rem;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    align-self: center;

    transition: background-color 0.5s, color 0.5s, border 0.5s, width 0.5s  ;
}

.main__btn:hover{

    background-color: transparent;
    color: var(--White);
    width: 55%;
    border: 2px solid var(--White);
}

.main__btn:active{

    transform: scale(0.9);
}

.socials ul{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.social{
    width: 40px;
    height: 40px;

    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 2px solid var(--White) ;

    cursor: pointer;
    font-size: 1.5rem;
    color: var(--White);

    transition: background-color 0.5s, color 0.5s ;
}

.social:hover{
    background-color: var(--White);
    color: var(--Violet);

    
}


@media (min-width: 800px) {

    body{
        background-image: url("./images/bg-desktop.svg");
        min-height: 100vh;
        background-size: cover;
    }
    .main{
        grid-template-columns: 1fr 1fr;
    }
    .socials ul {
        justify-content: flex-end;
    }

    .main__text{
        padding-top: 2rem;
        text-align: start;
    }

    .main__btn{
        align-self: flex-start;
    
    }
}